.testimonial {
  background-color: var(--palette-white);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px, 80px, 1fr;
  align-items: center;
  row-gap: 10px;
  margin: 10px;
  padding: 8px;
  max-height: 300px;
  width: 200px;
  border-radius: 16px;
}

.mainAvatarContainer {
  display: flex;
  align-items: center;
}

.avatarImgContainer {
  height: 80px;
  width: 80px;
  margin: 0 8px;
}

.avatarImg {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
