.primaryButton {
  max-width: 100%;
  height: 50px;
  background-color: var(--palette-yellow);
  border-radius: 16px;
  border: none;
  display: block;
}

.primaryButton:disabled {
  background-color: #e0dddd;
  color: #a8a6a6;
}
