.cardsSection {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 100px auto;
  row-gap: 5px;
  padding-top: 30px;
  justify-content: center;
}

.headerOfCardsSection {
  display: grid;
  grid-template-columns: 1fr 160px;
  grid-template-rows: 1fr;
  margin: 0 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 10px;
}

.subTitleSection {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 1fr;
}
.nameAndDescription {
  display: grid;
  grid-template-rows: 50px 50px 1fr 100px;
  align-items: end;
  row-gap: 20px;
  margin: 0 30px;
}

.titleButtonContainer {
  margin: 20px 0;
}

.titleButtonContainer .primaryButton {
  width: 100%;
}

.asidePhotoContainer {
  display: none;
}

.bigPhoto {
  border-radius: 16px;
}

@media screen and (min-width: 600px) {
  .cardsSection {
    grid-template-columns: 1fr;
  }

  .headerOfCardsSection {
    grid-template-columns: 1fr 200px;
    margin: 0 50px;
  }
  .subTitleSection {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .titleButtonContainer .primaryButton {
    width: 200px;
  }
  .asidePhotoContainer {
    width: 420px;
    height: 500px;
    display: table;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    justify-items: center; /* justify-content: space-around; */
  }
}
@media screen and (min-width: 860px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
  }
  .headerOfCardsSection {
    margin: 0;
  }
  .cardContainer {
    width: 274px;
    height: 640px;
  }
}
