* {
  margin: 0;
  padding: 0;
}
.cardContainer {
  background-color: #edefee;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  border-radius: 16px;
  line-height: 1.5;
}
.cardImage {
  display: block;
  width: 100%;
}

.cardDescription {
  font-family: "Markazi";
  font-weight: normal;
  font-size: 16pt;
  line-height: 1.5;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  justify-content: space-around;
}

.cardTitle {
  font-family: "Markazi";
  font-size: 18pt;
  font-weight: bold;
  align-items: center;
}
.price {
  font-family: "Markazi";
  color: #fe800c;
  font-size: 16pt;
  font-weight: medium;
  align-self: start;
  line-height: 42px;
}

.cardTitle,
.cardFooter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
}

.price,
.cardIcon {
  justify-self: end;
}

.cardFooter {
  padding: 20px 10px;
  align-self: flex-end;
}
