.subTitleSection {
  background-color: #495e57;
  color: white;
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 1fr;
}
.nameAndDescription {
  display: grid;
  grid-template-rows: 50px 50px 1fr 1fr;
  align-items: end;
  row-gap: 20px;
  margin: 0 30px;
}

.titleButtonContainer {
  margin: 20px 0;
}

.titleButtonContainer .primaryButton {
  width: 100%;
}

.asidePhotoContainer {
  display: none;
}

.bigPhoto {
  border-radius: 16px;
  max-width: 100%;
}

@media screen and (min-width: 720px) {
  .subTitleSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .titleButtonContainer .primaryButton {
    width: 200px;
  }
  .asidePhotoContainer {
    width: 100%;
    display: block;
    align-self: end;
    transform: translateY(20px);
  }
}
