.header {
  display: grid;
  padding: 20px;
  border-bottom: solid 2px #495e57;
  /* align-items: center; */
}
.logo {
  display: block;
}
@media screen and (min-width: 720px) {
  .header {
    grid-template-columns: auto 1fr;
  }
}
