.aboutSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 50px;
  margin: 0 30px;
  padding: 30px 0;
}

.aboutPhotosContainer {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 360px;
}

.box img {
  object-fit: cover;
  object-position: 65%;
}

.topImg,
.bottomImg {
  aspect-ratio: 0.7;
  width: 100%;
  border: 3px solid #495e57;
}
.aboutPhotosContainer {
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  padding-top: 10px;
}

.bottomImgContainer {
  position: relative;
  z-index: 2;
  width: 50%;
}
.topImgContainer {
  position: absolute;
  z-index: 3;
  left: 45%;
  width: 50%;
  top: -10%;
  padding-top: 10px;
}

@media screen and (min-width: 720px) {
  .aboutSection {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
  }

  .aboutDescription {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 5px;
  }
}

@media screen and (min-width: 860px) {
  .aboutSection {
    column-gap: 100px;
  }
}
